*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @extend %cover;
}

body {
  @extend %cover;
  background: $color-light;
  color: $color-dark;

  font-family: $font-soleil;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.content {
  @extend %cover;
}
