*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @extend %cover;
  // font-size: calc(100vw / 1920 * 10);
}

body {
  @extend %cover;
  background: $color-light-gray;
  color: $color-light-blue;

  font-family: "Helvetica";
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.content {
  @extend %cover;
}
