*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @extend %cover;
}

body {
  @extend %cover;
  background: #e2e2e2;
  color: $color-dark;

  font-family: soleil, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.content {
  @extend %cover;
}
