@font-face {
  font-family: $font-george-x;
  src: url('~assets/fonts/george-x-regular.woff2') format('woff2'),
    url('~assets/fonts/george-x-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
