html {
  font-size: vw(12);
  letter-spacing: 0.01em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@include media('<tablet') {
  html {
    font-size: vwM(12);
  }
}
@include media('<phone') {
  html {
    font-size: vwM(14);
  }
}
