$color-very-light: #efefef;
$color-light: #ececec;
$color-dark: #383939;

$font-george-x: 'George X';
$font-soleil: 'soleil';
$font-soleil-bold: 'soleil-bold';

$z-indexes: ('navigation', 'footer', 'scrollbar', 'scroll');
